!!!
%html
  %head
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body{'data-controller': controller_path, 'data-action': action_name}
    .header
      %a.header__logo{href: "/"}
        %img{src: "https://i.gyazo.com/ad870f2cbf7f9afce4e6d7387fe4bf30.png"}
      .header__nav
        .header__nav__link
          = link_to "Schedule Session", new_event_path
    .sub-header
      .sub-header__nav
        %a.sub-header__nav__link{href: "/"} Home
        %a.sub-header__nav__link{href: "/store"} Store
    .wrapper
      = yield
    = include_gon
    = javascript_include_tag 'application'
