!!!
%html
  %head
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    .header
      .header__nav
        .header__nav__link
          = link_to "Schedule Session", new_event_path
    .wrapper
      = yield
    = javascript_include_tag 'application'
